/*
:root {
    COLOR ETIQUETAS PRINCIPALES
    --color-header: #371005;
    --color-background:  #e3d6c8;  #F8E2D1 Blanco crema de fondo, color background 
    --color-bg-transparent: rgba(rgb(227, 214, 200, 0.85));
    --color-footer: #5f0512;

    --color-card: #d9b597;

    /*COLOR DE TEXTOS
    --color-text: #333;
    --color-text-secondary: #6b5e55;
 
    --color-text-nav: #fbfbef;
    --color-text-footer: #fbfbef;

    --color-text-principal: #fbfbef;
    --color-hero-p: #d1c7bd;

    --color-text-hover: #76420c;
    --color-bg-text-hover: #d9b597;


    /*Transiciones y efectos
    --shadow-soft: 0 4px 15px rgba(0, 0, 0, 0.1);
    --transition-smooth: all 0.3s ease;

    --bg-overlay: rgba(20, 15, 12, 0.75); /* Oscurecido de la imagen del hero para legibilidad 

    /*Textos
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/